<h2 class="text-center mt-5 mb-5">Your Lists</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% @lists.each do |list| %>
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card shadow-sm mb-5 bg-white rounded" style="width: 20rem;">
        <div class="card-body p-0">

          <% if list.photo.present? %>
            <%= cl_image_tag list.photo.key, height: 200, width: 400, class:'card-img-top'%>
          <% else %>
            <%= cl_image_tag 'qmark_jubuyk', height: 200, width: 400, class:'card-img-top'%>
          <% end %>

          <div class="card-texts">
            <h5 class="card-title"><%= list.name %></h5>

            <% if list.movies.count == 1 %>
              <p><%= list.movies.count %> Movie</p>
            <% else %>
              <p><%= list.movies.count %> Movies</p>
            <% end %>

            <%= link_to "See More", list_path(list)%>
            <%= link_to "Delete", list_path(list), :method => :delete, data: { :confirm => "Are you sure you want to destroy #{list.name}?" }, style: "color: red;"  %>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
