
<div class="d-flex justify-content-center">
  <div class="card mt-5" style="width: 22rem;">
    <% if @list.photo.present? %>
      <%= cl_image_tag @list.photo.key, height: 200, width: 400, class:'card-img-top'%>
    <% else %>
      <%= cl_image_tag 'qmark_jubuyk', height: 200, width: 400, class:'card-img-top'%>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @list.name %></h5>
      <% if @list.movies.count == 1 %>
        <p class="card-text">This list contains 1 movie.</p>
      <% else %>
        <p class="card-text"><%= "This list contains #{@list.movies.count} movies." %></p>
      <% end %>
    </div>
    <ul class="list-group list-group-flush">
      <%= link_to "Add Movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
      <%= link_to "Go Back", lists_path, class: "btn btn-warning" %>
      <%= link_to "Delete", list_path(@list), :method => :delete, data: { :confirm => "Are you sure you want to destroy #{@list.name}?" }, class: "btn btn-danger" %>
    </ul>
  </div>
</div>

<h3 class="text-center mt-5">Movies:</h3>

<div class="container d-flex">
<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="p-2">
      <div class="card" style="width: 18rem;">
      <%= image_tag movie.poster_url, class:'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <%= link_to "Delete", bookmark_path(bookmark), :method => :delete, data: { :confirm => "Are you sure you want to destroy #{movie.title}?" }, style: "color: red;"  %>
        </div>
      </div>
    </div>
<% end %>
</div>
